@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scrollbar-color: rgb(54, 54, 54) rgb(0, 0, 0);
    scrollbar-width: 10px;
}
.bgsvg{
    rotate: 180deg;
}

.lead {
	background: linear-gradient(90deg,#fff702 0%, #9812f8 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
    z-index: 100;
}
.postimg{
    border-bottom: 5px #8214d1 solid;
}
.cr{
    position: relative;
    cursor: pointer;
    background-color: #8214d1;

}
.cr:hover{
    background-color: #a03ae9;

}
.community{
    background-image: linear-gradient(90deg,#3a849c,#11c6fd);
}
.community h3{
    text-shadow: 0px 5px 5px #00000050;
}
.ft{
    position: relative;
}
.ft::after{
    content: " ";
    display: block;
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 75px;
    background-color: #8214d1;
    border-top-right-radius: 100%;
}